---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="">
    <h1 class="flex text-2xl font-bold">Japan Housing Quality Award 2023</h1>
  </main>
</Layout>
